<a href="https://colab.research.google.com/github/WenluXu/Data-Science-Bootcamp-2022/blob/main/Week1_part1_Python_to_share.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

In [ ]:
print('Hello, world!')

In [ ]:
print('Hello')
print('\n')
print('World')

## Why its is so popular

## The ease of using python and clean good look comes at a cost - RUNTIME...!!!

Compare with a Cpp code

In [ ]:
#include <iostream.h>
#include <stdio.h>
#using namespace std;

# for(int i=0; i<3; i++){
#     cout<<'Hello world'<<'\n'<<endl;
# }

In [ ]:
for i in range(3):
  print('Hello World')

In [ ]:
## This is a code to print Hello World 3 times and calculate the time taken to run it

import time
start_time = time.time()

for i in range(3):
  print('Hello World')

end_time = time.time()

time_diff = (end_time - start_time)
execution_time = time_diff * 10**6

print(execution_time)

## Just for fun!

Did you know that entering `import this` prints the 'Zen of Python'?

The Zen of Python is a collection of 19 "guiding principles" for writing computer programs that influence the design of the Python programming language.

It is always good to follow the zen even when you have an opportunity to show off your Python skills! :)

In [ ]:
import this

## The `help()` function

The `help()` function in python is used to display the documentation of modules, functions, classes, etc.

In [ ]:
a = 10
print('a')

In [ ]:
# help([object])

help(print)

**NOTE:** If the `help()` function is passed without an argument,then the interactive help utility starts up on the console.

## Accessing the Attributes (Methods) of any object or a library

In order to understand the pre-loaded attributes of an object, we use the `dir()` function.

In [ ]:
# import <library name>
# dir(<library name>)

import math
dir(math)

In [ ]:
import math

help(math.pow)

In [ ]:
a = 3*3
b = 3**3

print(a)
print(b)

In [ ]:
a = math.pow(2,3)
print(a)

## Data types in Python

Python has the a bunch of built-in data types by default:

Text: `str`

Numeric: `int`, `float`, `complex`

Sequence: `list`, `tuple`, `range`

Mapping: `dict`

Set: `set`

Boolean: `bool`

Binary: `bytes`, `bytearray`, `memoryview`

In [ ]:
# type(variable) prints the data type of the variable. In this case, list
a = 5

print(type(a))

b = 10.05
print(type(b))

In [ ]:
# type(variable) prints the data type of the variable. In this case, string
name3 = "Vijay"

print(name3)
print(type(name3))

**NOTE:** The initialization of data-type to a particular variable happens automaticaly when we assign a value to a variable.

In [ ]:
# class float

decimal = 0.690000
print(decimal)

print(type(decimal))

In [ ]:
# list

# list_names = ['vijay', 'neel', 'akshit',1, 1.5]

groceries = ['apples', 20, 'cake mix', 'kitchen roll',1,2,3,4,5,6]

print(groceries)
print(type(groceries))

In [ ]:
print(groceries)

In [ ]:
groceries.append("paper towel")
print(groceries)

In [ ]:
groceries.remove('kitchen roll')
groceries

In [ ]:
x = ('Apple', 'Tim', 'iPhone')
print(type(x))

In [ ]:
# class list, but tuples

a = [(1, 2), (3, 4, 5), (6, 7)]
print(type(a))

### Difference between a list and tuple

The main difference is that list are immutable and tuples are not

for e.g.

In [ ]:
#list
list1 = [1,2,3,4,5]

print(list1[3])
print()

In [ ]:
#tuple
tuple1 = (1,2,3,4,5)

print(tuple1[3])
tuple1.append(20)

In [ ]:
# class dictionary

hpc = {'Harry': '10', 'Ronald':'Weasley', 'Snape':8}

print(hpc)
print(type(hpc))

In [ ]:
# class boolean

boolean = True
print(type(boolean))

print(bool(-2.3))

In [ ]:
print(bool(0.1))

In [ ]:
#None type
z = None
print(type(z))

## Commonly used operators in Python

In [ ]:
a = 6.3
b = 5.2

print('Add: ', a+b)
print('Subtract: ', a-b)
print('Divide: ', a/b)
print('Multiply: ', a*b)
print('Floor Division: ', a//b)
print('Mod: ', a%b)
print('Power: ', a**b)

### A few tricks

In [ ]:
a, *b = 34, 23, 10

print(type(a))
print(type(b))
print(a)
print(b)

## Type casting in Python

Type Casting is the method to convert the variable data type into a certain data type in order for the operation required to be performed by users.

In [ ]:
# switching from string to integer

x = '10'
print(type(x))

print('String to Integer: ', int(x))

x = int(x)
print(type(x))

In [ ]:
# switching from string to float

print(float(x))
x = float(x)
print(type(x))

In [ ]:
# switching from integer to string

x = str(1) + '0'
x = int(x)
print(type(x))
print(x)

In [ ]:
# switching from a tuple to list

tuples = ((1, 2), (4, 'Ginny'), (7, 'Fred'))

list_tup = list(tuples)

print(list_tup)

In [ ]:
# ascii value of alpha numeric characters

print(chr(120))

In [ ]:
# string to ascii

print(ord('x'))

## Using in-built functions

### Using the `random` method

This method is used to geenrate 'random' values or ranges depending on the requirement.

In [ ]:
import random

# adding the start and end paramaters

print(random.randint(5, 10))

### Using the `math` method

You can use this method(/library) to make mathematical operations much easier.

In [ ]:
import math

print('inbuilt value of pi: ', math.pi)

print('Square root of 2209: ', math.sqrt(2209))
print('Ceiling Value: ', math.floor(3.1415))

### Using the `datetime` method

Yeah, nothing fancy about it. Just does what the name mentions.

In [ ]:
import datetime

date = datetime.datetime.now()

print(date)
print(type(date))

## Lists!

### Accessing the values from a list

**Fun fact:** Python does allow negative indexing!

In [ ]:
list_object = ['1', 81, '%', 'Fort Greene']

list_object[3]

'Fort Greene'

In [ ]:
# executing all the values from the beginning to the end

print(list_object[1:])

[81, '%', 'Fort Greene']

In [ ]:
print(list_object[:3])

['1', 81, '%']

In [ ]:
# let's say that we want we to skip a few values in between

print(list_object[0:7687:2])

['1', '%']

In [ ]:
# negative ranges

print(list_object[-4:])

['1', 81, '%', 'Fort Greene']

### Modifying lists

In [ ]:
# make changes in the list

list_object.extend([0,1.2])
print(list_object)


# make range of values changes

subset_items = [1,52,798,8]
list_object[0:4] = subset_items
print(list_object)

['1', 81, '%', 'Fort Greene', 0, 1.2]
[1, 52, 798, 8, 0, 1.2]

In [ ]:
# skipping changes

subset = ['2','45555','12']
list_object[0:5:2] = subset
print(list_object)

['2', 52, '45555', 8, '12', 1.2]

In [ ]:
# delete an element

list_object = [1, 2, 12, 6, 112, 3, 4, 5, 7]

print(list_object)
list_object.pop()
print(list_object)
# 0 1 2
list_object.pop(2)
print(list_object)

[1, 2, 12, 6, 112, 3, 4, 5, 7]
[1, 2, 12, 6, 112, 3, 4, 5]
[1, 2, 6, 112, 3, 4, 5]

What do we do if there is an error while removing a value from the list and the list is empty?

In [ ]:
# we use the try except functionality

try:
  list_object.remove(10)

except:
  print('Element not in the list')

Element not in the list

## The `for` loop

In [ ]:
for i in range(0,5):
  print(i, end=' ')

In [ ]:
print('Adding the step parameter ')

for i in range(10,3,-2):
  print(i, end=' ')

In [ ]:
print('Printing the values in the format of a list ')

a = [1,2,3,4,5]
for i in a:
  print(i)

In [ ]:
print('One-line for loop')

sum_upto_10 = [i for i in range(11)]
print(sum_upto_10)

In [ ]:
print('One-linear nested for loop Matrix Multiplication')

matrix_mul = [j*i for i in range(5) for j in range(5,10)]
print('Matrix Looks like: ', matrix_mul)

In [ ]:
a = ['Hello', 'world', '!']

# iterable method 1
print('Iterable Method 1: ')
for i in range(len(a)):
  print(i, a[i])

# iterable method 2
print('\nIterable Method 2: ')
for i in a:
  print(i)

# (iterable?) method 3
print('\nMethod 3: ')
print(list(enumerate(a)))

## Functions

To define a function, use the `def` keyword followed by the name of the function with attributes.

In [ ]:
# mul function to do multiplication with 15
#####################
def mul(x):
  result = x*15
  return result

######################

a = 2
output = mul(a)
print(output)

In [ ]:
def fizzBuzz():

  '''
  Given a range print Fizz if divisible by 3, Buzz if divisible by 5 else FizzBuzz if divisible by 3 and 5
  '''

  n = int(input('Enter a number: '))
  count = 1
  while (count <= n):
    string = ''
    if (count %3 == 0):
      string = 'Fizz'
    if (count % 5 == 0):
      string += 'Buzz'
    print(count,string)
    count +=1

fizzBuzz()

In [ ]:
string1 = "Zoe"

string1 += " adam"

print(string1)

Thing which are not covered but I will suggest to go and have a look at it to have a better understanding and brings you to a point where you can get started with Data Science

`lambda function`

`for loops`

`while loops`

`list comprenhension`

`Dictionaries`